
backend/.idea/
backend/.idea/
backend/.idea/
.DS_Store
.idea/php.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/encodings.xml
.idea/DragonHack2021.iml
~$Text.docx
