h1, h2, h3, h4 {
    background-color: rgb(52, 59, 59);
    padding: 10px;
}

main {
    display: flex;
    flex-direction: row;

    flex-grow: 1;

    overflow: auto;

    position: relative;
}

main > div {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#users {
    flex: 1.3;
    background-color: rgb(51, 64, 64);
}

#addAFriend {
    background-color: rgb(52, 59, 59);
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#addAFriend form {
    width: 100%;
    display: flex;
    align-items: center;
}

#addAFriend input {
    width: 10px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;

    flex: 1;
}

#addAFriend button {
    padding: 5px;
    height: 100%;
}

#usersList {
    overflow: auto;
}

#userChat {
    overflow: auto;
    margin-bottom: calc(3ch + 20px);
    background-color: rgb(78, 97, 97);
}

#userChat > div {
    margin: 15px;
    border-radius: 25px;
    background-color: rgb(47, 54, 54);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 50%;
}

#userChat > div.sentByUser {
    float: right;
}

#userChat > div > img {
    width: 100%;
    border-radius: 25px;
}

#userChat > div.imageContainer {
    width: 220px;
}

#userChat > div.imageContainer > img {
    border-radius: 0px;
}

#chat {
    flex: 3;
    position: relative;
}

#gifSearch {
    flex: 2;
    background-color: rgb(51, 64, 64);
}

#gifSearch h3 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

#gifList {
    overflow: auto;

    display: flex;
    flex-direction: row;
}

#gifList > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gifList > div > img {
    user-select: none;
    width: calc(100% - 10px);
    margin: 5px;
}

#gifList > div > img:hover {
    border: 3px solid orange;
    margin: 2px;
    cursor: pointer;
}


#searchBar {
    background-color: rgb(51, 64, 64);

    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
}

#searchBar input {
    border-radius: 5px;
    padding: 5px;
    margin: 10px;

    flex: 1;
}

#searchBar button {
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#searchBar button:hover { 
    background-color: rgb(235, 153, 1);
}

/* User (on the left) */
.user {
    background-color: rgb(47, 54, 54);
    padding: 5px;
    margin-bottom: 2px;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    user-select: none;
    cursor: pointer;
}

.user img {
    height: 3vh;
    border-radius: 100%;
    margin-right: 10px;
}