main {
    display: flex;
    flex-direction: row;

    flex-grow: 1;
    overflow: hidden;
}

#writing {
    padding: 2vh 1vw 2vh 1vw;
    background-color: rgb(51, 64, 64);
    flex: 1.5;
}

#gifs {
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#gifs > div {
    flex: 1;

    display: flex;
    flex-direction: row;

    animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#gifs > div:nth-child(odd) {
    animation-direction: alternate-reverse;
}

img {
    max-height: 20vh;
    margin: 10px;
    
    animation-name: zoneIn;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes slide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes zoneIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}