main {
    display: flex;
    flex-direction: row;

    flex-grow: 1
}

#writing {
    padding: 2vh 1vw 2vh 1vw;
    background-color: rgb(51, 64, 64);
    flex: 1.5;
}

#gifs {
    flex: 2
}

#login {
    text-decoration: none;
    color: whitesmoke;
    font-size: clamp(0.5rem, 10vw, 1rem);
    background-color: orange;
    padding: 13px 10px 10px 10px;
    margin-right: 10px;
    border-radius: 10px;
}